.language_popup_block {
    max-height: 280px;
    overflow-y: auto;
    padding-right: 20px;
    margin-top: 60px;
}

.language_popup {
    background-color: #fff;
    padding: 32px 32px;
    border-radius: 16px;
}

.language_popup h3 {
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.language_popup p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #212121;
}

.language_popup ul {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.language_popup ul li {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    border: 0;
}

.language_popup ul li button {
    padding: 16px 40px 16px 16px;
    margin: 0;
    width: 100%;
    border: 1px solid #E1E4E8;
    border-radius: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
}
.language_popup ul li button.activeCountry{
    border: 1px solid #000;
}
.language_popup ul li button.inActivecountry{
    border: 1px solid #eee;
}
.language_popup ul li button span {
    margin-left: 20px;
}
.language_popup ul li button h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #212121;
    padding: 0;
    margin: 0 0 5px 0;
}
.language_popup ul li button p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #666;
    padding: 0;
    margin: 0;
}
.icon_language_link {
    position: absolute;
}


@media screen and (min-width: 768px) {
    .popup_container {
        margin: 0 15px;
        width: calc(100% - 30px)!important;
    }
}
@media screen and (max-width: 767.98px) {
    .popup_container {
        max-width: 500px!important;
        padding: 0 15px!important;
    }
    .popup_container .close_button {
        right: 24px!important;
    }
    .language_popup_block {
        margin-top: 30px;
    }
    .language_popup h3 {
        font-size: 28px;
        line-height: 35px;
    }
    .language_popup p {
        font-size: 16px;
        line-height: 23px;
    }
    
    
}