/*
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 4px;
  padding: 10px 0px 10px 0px;
}
.gridItem {
  padding: 8px;
  position: relative;
  height: 208px;
  border-radius: 8px;
}*/
.pageContainer {
  float: left;
  width: 100%;
  margin: 14px 0px 25px;

}

.custom_adv_block_1 {
  padding: 9px;
  position: relative;
  border-radius: 8px;
  grid-column: span 2;
}

.custom_adv_block_1 .custom_adv_wrap {
  background-color: #C0FFD5;
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 4px;
}

.custom_adv_block_1 .custom_adv_content {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  padding: 0 0 0 20px;
  position: relative;
  min-height: 212px;
  border-radius: 4px;
}

.custom_adv_block_1 .custom_adv_content h6 {
  color: #43865A;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 0 0 16px 0;
  max-width: 220px;
  position: relative;
  z-index: 1;
}

.custom_adv_block_1 .custom_adv_content img {
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 0;
  border-radius: 4px;
}

.adv_btn_wrap {
  width: max-content;
  position: relative;
  z-index: 1;
}

.custom_adv_block_2 {
  padding: 9px;
  position: relative;
  border-radius: 8px;
  grid-column: span 2;
}

.custom_adv_block_2 .custom_adv_wrap {
  background-color: #f6a6bc;
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 4px;
}

.custom_adv_block_2 .custom_adv_content {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  padding: 0 0 0 20px;
  position: relative;
  min-height: 212px;
  border-radius: 4px;
}

.custom_adv_block_2 .custom_adv_content h6 {
  color: var(--black-500);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 11px 0 16px 0;
  max-width: 220px;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}

.custom_adv_block_2 .custom_adv_content img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 4px;
}

.adv_btn_wrap {
  width: max-content;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 8px;
}

.custom_adv_block_2 .custom_adv_content .adv_klarna {
  right: inherit;
  position: relative;
  left: inherit;
  top: inherit;
  width: 81px;
  height: 34px;
  z-index: 1;
}

.custom_adv_block_2 .custom_adv_content .adv_img_app {
  right: inherit;
  position: inherit;
  left: inherit;
  top: inherit;
}

.custom_adv_block_3 {
  padding: 9px;
  position: relative;
  border-radius: 8px;
  grid-column: span 2;
}

.custom_adv_block_3 .custom_adv_wrap {
  background-color: #60d3d4;
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 4px;
}

.custom_adv_block_3 .custom_adv_content {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  padding: 0 0 0 20px;
  position: relative;
  min-height: 212px;
}

.custom_adv_block_3 .custom_adv_content h6 {
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  margin: 11px 0 16px 0;
  max-width: 70%;
  position: relative;
  z-index: 1;
}

.custom_adv_block_3 .custom_adv_content img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 4px;
}

.custom_adv_block_3 .custom_adv_content p {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  line-height: 23px;
  position: relative;
  z-index: 1;
}

.adv_price {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #FFFF66;
  position: relative;
  z-index: 1;
}

.btn_secondary {
  display: inline-flex;
  height: 40px;
  padding: 8px 12px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  border: 0;
  background: var(--black-450);
  color: var(--white);
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.btn_secondary:hover {
  color: var(--white);
  background: var(--gray-600);
  text-decoration: none;
}

.custom_adv_block_3 .btn_secondary {
  font-size: 13px;
  line-height: 21px;
  padding: 6px 10px;
  height: 32px;
}


/***************/
.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 7px;
}

.listing_gridItem {
  position: relative;
  /*height: 285px;*/
}

.grid_item_block {
  padding: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.grid_img_wrap {
  height: 100%;
  position: relative;
}

.grid_img_bg {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
  height: 100%;
}
.grid_img_col {
  flex-basis: 100%;
  flex-grow: 0;
  max-width: 100%;
  position: relative;
  min-height: 230px;
  /*max-height: 230px;*/
}

.grid_img_col img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
  color: transparent;
}

.grid_content_wrap {
  margin-top: 0px;
  width: 100%;
  display: flex;
  padding: 8px 8px;
  align-items: center;
  border: 1px solid #E1E4E8;
  border-top: 0;
  background: #FFF;
}

.grid_img_profile {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  margin: 0 8px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0;
  background: lightgray -10.896px 2.989px / 133.789% 89.193% no-repeat;
}

.grid_img_profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.grid_profile_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  padding: 0;
}

.grid_profile_details h6.grid_profile_title {
  margin: 0;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
  display: block;
  max-width: 100%;
  word-break: break-word;
}

.grid_profile_address {
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray-400);
  text-align: left;
}

.grid_profile_link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 8px 0 0 0;
  border-top: 1px solid #EAEAEA;
}

.grid_profile_link a {
  margin: 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black-500);
  text-align: center;
}

/* flash page */
.grid_wrapper_tattoo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 2px;
}

.grid_wrapper_tattoo .listing_gridItem {
  position: relative;
  height: 230px;
  overflow: hidden;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52vh;
  text-align: center;
  float: left;
  width: 100%;
}

.priceBox {
  position: absolute;
  z-index: 1;
  background: #101010;
  padding: 2px 8px;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  right: 13px;
  bottom: 12px;
  line-height: 18px;
  font-weight: 400;
}
.priceBox p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}


@media screen and (max-width: 767.98px) {
  .pageContainer{   
    margin-top: 10px;
  
  }  
  .custom_adv_block_1 .custom_adv_content,
  .custom_adv_block_2 .custom_adv_content,
  .custom_adv_block_3 .custom_adv_content {
    min-height: 172px;
    padding-left: 15px;
  }
  .custom_adv_block_1 .custom_adv_content h6,
  .custom_adv_block_2 .custom_adv_content h6,
  .custom_adv_block_3 .custom_adv_content h6 {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 10px 0 10px 0;
  }
  .custom_adv_block_1 .custom_adv_content h6,
  .custom_adv_block_2 .custom_adv_content h6 {   
    max-width: 160px;
  } 
  .custom_adv_block_3 .custom_adv_content h6 {   
    max-width: 100%;
  }
  .btn_secondary {
    height: 30px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }

  .custom_adv_block_1 .custom_adv_content img,
  .custom_adv_block_2 .custom_adv_content img,
  .custom_adv_block_3 .custom_adv_content img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: right;
  }

  .custom_adv_block_3 .listing_adv_btn_wrap {
    display: flex;
    flex-direction: column;
  }

  .custom_adv_block_3 .custom_adv_content img {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .adv_price {
    font-size: 22px;
    line-height: 27px;
  }
  .grid_wrapper {
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
  }
  .grid_wrapper_tattoo {
    float: left;
    margin-right: -15px;
    margin-left: -15px;
    width: calc(100% + 30px);
  }

  /* tattoo */
  .listing_gridItem {
    height: inherit;
  }      
  .grid_img_col {
    min-height: 187px;
    max-height: inherit;
  }  
  
  .grid_profile_link {
    margin-top: 5px;
    padding-top: 5px;
  }
  .grid_profile_link a {
    line-height: 18px;
    font-size: 12px;
  }
  /* */
  .grid_wrapper_tattoo .listing_gridItem {
    height: 187px;
  }
  .grid_img_bg {
    height: 100%;
  }

}

@media screen and (max-width: 491px) {
  .grid_wrapper_tattoo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid_wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}