.mainWrapper {
  padding: 49px 0px 42px 0px;
  border-top: 1px solid #e1e4e8;
  margin-top: 24px;
}

.content {
  font-size: 18px;
  line-height: 27px;
}

.mainTitle {
  font-size: 58px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin: 32px 0px 16px 0px;
}

.listing > li {
  list-style-type: unset !important;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 27px;
}

.listing span {
  font-weight: 600;
}


@media screen and (max-width: 699px) {
    .mainWrapper {
        padding: 49px 0px 42px 0px;
        border-top: 1px solid #e1e4e8;
        margin-top: 24px;
      }

    .mainTitle {
        font-size: 30px;
        margin-bottom: 24px;
      }




}