/*.pageWrapper{
    width: 1527px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 15px;

}*/
.main_wrap {}

.page_search_wrapper {}

.filter_container {
    float: left;
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-wrap: nowrap;
}

.filter_container .search-bar {
    float: left;
    width: 50%;
}

.tattoo_search_wrap {
    float: left;
    max-width: 100%;
    width: auto;
    flex-grow: 1;
}
.main_wrap {
    margin-left: 21px;
    display: flex;
    flex-direction: row;
}
.search_form {
    margin: 0;
    max-width: 100%;
}

.wrapper_block {
    float: left;
    position: relative;
    width: 100%;
    margin: 0 16px 0 0;
}
.wrapper_block_loc {
    padding: 6px 20px 7px 31px;
    border-radius: 34px;
    border: 1px solid #e1e4e8;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    height: 40px;
    color: #212121;
    width: 100%;
    min-width: 144px;
    text-align: left;
}




.wrapper_block .filter_block span {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #212121;
}
.wrapper_block .location_icon {
    position: absolute;
    top: 12px;
    left: 10px;
    cursor: pointer;
}


.wrapper_block input::placeholder {
    color: #212121;
    opacity: 1;
}

.wrapper_filter {
    float: left;
    position: relative;
    width: 100%;
    max-width: 128px;
    margin: 0;
    
}

.wrapper_filter .filter_icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.wrapper_filter .filter_block {
    padding: 7px 10px 6px 10px;
    border-radius: 31px;
    border: 1px solid #E1E4E8;
    height: 40px;
    appearance: none;
    width: 100%;
    outline: none;
    cursor: pointer;    
    background: transparent;
    min-width: 126px;
    position: relative;
}

.wrapper_filter .filter_block span {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #212121;
}
.wrapper_filter select {
    padding: 7px 10px 6px 48px;
    border-radius: 31px;
    border: 1px solid #E1E4E8;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    height: 40px;
    color: #212121;
    appearance: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.custom_search_filter_mob {
    padding: 10px 10px;
    border-radius: 31px;
    border: 1px solid #E1E4E8;
    height: 40px;
    display: flex;
    min-width: 76px;
    justify-content: center;
}
/***** */
.grid_more_view {
    text-align: center;
    margin: 40px 0 20px 0;
    float: left;
    width: 100%;
}

.grid_more_view p {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.btn_wrapper {
    width: 100%;
}

.tabSection {
    float: left;
    width: 100%;
}

.tabSection ul {
    margin: 14px 0px 0px 0px;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid rgba(225, 228, 232, 0.5);
    gap: 54px;
    display: flex;
    justify-content: center;
}

.tabSection ul>li {
    list-style: none;
    display: inline-block;
    padding: 10px 2px 6px 2px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: -2px;
    border-bottom: 2px solid transparent;
}

.tabSection ul>li.activeTab {
    border-bottom: 2px solid #101010;
    color: var(--black)
}

.tabSection ul>li.inActivetab {
    color: #212121;
}

.tabBox {
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
}

.tabSection button {
    background-color: transparent;
    border: 0;
    padding: 10px 4px;
}
.wrapper_filter .filter_block .notification_count {
    display: flex;
    width: 20px;
    height: 18px;
    padding: 0px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
    background: #212121;
    color: #fff!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
@media screen and (max-width: 640px) {
    /*.filter_container {
        display: flex;
        flex-direction: column;
    }

    .tattoo_search_wrap {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .main_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }*/

    .tabSection ul>li {
        padding: 16px;
    }
}

@media screen and (max-width: 767.98px) {
    .tab_container {
        float: left;
        margin-right: -15px;
        margin-left: -15px;
        width: calc(100% + 30px);
        padding-top: 5px;
    }
    .tab_container .tabSection ul {
        gap: 0;
        justify-content: space-between;
        width: 100%;
        margin-top: 0;
    }
    .tab_container .tabSection ul li {
      padding: 6px 26px 6px 5px;
      margin-left: 0;
      font-size: 14px;
      font-weight: 400;
    }
    .tab_container .tabSection ul>li:first-child {
        margin-left: 5%;
    }
    .tab_container .tabSection ul>li .tabBox img {
        width: 16px;
        height: 16px;
    }
    .tattoo_search_wrap { 
        margin-bottom: 15px;
    }
    .wrapper_filter {
        width: auto;        
    }
    .wrapper_filter .filter_icon {
        position: inherit;
    }
    .wrapper_block {
        width: auto;
        margin: 0;
        border-left: 1px solid #E1E4E8;
        padding-left: 12px;
        margin-left: 10px;
    }    
    .wrapper_block .location_icon {
        position: static;
    }
    .main_wrap {
        margin-left: 6px;
    }

    
}

@media screen and (max-width: 490px) {
    .tab_container .tabSection ul li {
        padding-right: 20px;
    }        
}
@media screen and (max-width: 420px) {
    .tab_container .tabSection ul li {
        padding-right: 10px;
    } 
    .tab_container .tabSection ul>li:first-child {
        margin-left: 3%;
    }       
}

@media screen and (max-width: 374px) {
     .tabBox  {
        flex-direction: column;
        gap: 6px;
        text-align: center;
    } 
}