.listing_pageContainer {
	float: left;
    width: 100%;
    margin: 0px 0 50px;
}
.listing_grid_wrapper {
	display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25%,1fr));
    grid-gap: 8px;
}
.listing_gridItem {
	position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.listing_grid_img_col {
	position: relative;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.listing_grid_details {
	width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0 35px 0;
    align-items: center;
    text-align: center;
}

.listing_grid_title {
	color: #212121;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin: 0 0 20px 0;
    padding: 0;
}

.listing_grid_desc {
	font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    margin: 0;
    padding: 0;
    color: #212121;
    text-align: center;
}

@media screen and (max-width: 767.98px) {
    .listing_grid_wrapper {
        display: flex;
        flex-direction: column;
    }
    .listing_grid_title {
        font-size: 24px;
        line-height: 30px;
    }
    .listing_grid_desc {
        font-size: 16px;
        line-height: 24px;
    }
}